<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR79CMWCWa0_w0L3USlLdS28BTHwxufFo</string>
	<key>GCM_SENDER_ID</key>
	<string>1091271745671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.patxibocos.mycyclist</string>
	<key>PROJECT_ID</key>
	<string>pcs-scraper</string>
	<key>STORAGE_BUCKET</key>
	<string>pcs-scraper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091271745671:ios:79676783ee01857bf89822</string>
</dict>
</plist>